body {
    background: url("../img/grill.jpg");
    background-size: cover;
    color: whitesmoke;
    text-align: center;
    font-family: 'Stardos Stencil', cursive;
    font-size: 1.25em;
}

h2 {
    background: #525252;
    border: black solid 3px;
    border-radius: 5px;
    max-width: 300px;
    margin: auto;
}

button {
    background: #525252;
    font-family: 'Stardos Stencil', cursive;
    color: whitesmoke;
    font-size: 0.75em;
}

.create-form {
    margin: auto;
    margin-bottom: 1em;
    padding-bottom: 1em;
    width: 70%;
    max-width: 300px;
    text-align: center;
    /* color: black; */
    /* text-shadow: 2px 2px 8px whitesmoke; */
    background: #525252;
    border: black solid 3px;
    border-radius: 20px;
}

ul {
    padding: 0;
    list-style-type: none;
}

#topBun {
    height: 4em;
    border-radius: 100px 100px 20px 20px;
    border: black solid 3px;
    /* background: blanchedalmond; */
    background-image: linear-gradient(#B78655, blanchedalmond);
}

#bottomBun {
    height: 3em;
    border-radius: 20px 20px 100px 100px;
    background-image: linear-gradient(blanchedalmond, #B78655);
}

li {
  padding: 5px;
  margin: auto;
  max-width: 600px;
  text-align: center;
  color: whitesmoke;
  background: #4A3329;
  border: black solid 3px;
  border-radius: 5px;
}

.raw li {
    background: #A30000;
}

.label {
  font-weight: bold;
}

.form-group {
  margin: auto;
  margin-top: 1em;
  margin-bottom: 1em;
}
